- page_title 'System Hooks'
%h3.page-title
  System hooks

%p.light
  #{link_to 'System hooks ', help_page_path('system_hooks/system_hooks'), class: 'vlink'} can be
  used for binding events when GitLab creates a User or Project.

%hr

= form_for @hook, as: :hook, url: admin_hooks_path, html: { class: 'form-horizontal' } do |f|
  = render partial: 'form', locals: { form: f, hook: @hook }
  .form-actions
    = f.submit 'Add system hook', class: 'btn btn-create'
%hr

- if @hooks.any?
  .panel.panel-default
    .panel-heading
      System hooks (#{@hooks.count})
    %ul.content-list
      - @hooks.each do |hook|
        %li
          .controls
            = link_to 'Test hook', test_admin_hook_path(hook), class: 'btn btn-sm'
            = link_to 'Edit', edit_admin_hook_path(hook), class: 'btn btn-sm'
            = link_to 'Remove', admin_hook_path(hook), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-remove btn-sm'
          .monospace= hook.url
          %div
            - %w(repository_update_events push_events tag_push_events issues_events note_events merge_requests_events build_events).each do |trigger|
              - if hook.send(trigger)
                %span.label.label-gray= trigger.titleize
            %span.label.label-gray SSL Verification: #{hook.enable_ssl_verification ? 'enabled' : 'disabled'}
